{% extends 'doctornavbar.html.twig' %}

{% block title %}Pending Reports{% endblock %}

{% block test %}
    <div class="sidebar">


        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="{{ asset('icons/doctor.png') }}" alt="Symfony" />
                </div>
                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                        {{username}}
                        <span class="user-level">Doctor</span>
                        </span>
                    </a>
                    <div class="clearfix"></div>


                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a href="#dash" data-toggle="collapse" aria-expanded="false">
                        <i class="la la-dashboard"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>

                    </a>
                </li>
                <ul class="collapse navigation-submenu" id="dash">
                    <li>
                        <a href="{{ path('stat_doc') }}" >Stats</a>

                    </li>
                    <br>

                </ul>
                <li class="nav-item active ">
                    <a href="#req_man" data-toggle="collapse" aria-expanded="false">
                        <svg class="bi bi-folder-check" width="2.8em" height="2em" viewBox="0 0 24 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 1h5v1H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6h1v7a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2z"/>
                            <path d="M9 4.5V1l5 5h-3.5A1.5 1.5 0 0 1 9 4.5z"/>
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <p>Reports</p>
                        <span class="caret"></span>
                    </a>
                </li>
                <ul class="collapse navigation-submenu" id="req_man">
                    <li>
                        <a  class="breadcrumb-item active" href="{{ path('pending_reports') }}" >Pending Reports</a>
                    </li>
                    <br>
                    <li>
                        <a  href="{{ path('history_reports') }}" >Completed Reports</a>
                    </li>
                    <br>

                </ul>

            </ul>
        </div>
    </div>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h3>Informations</h3>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>File Id</th>
                        <td>{{ medical_file.id }}</td>
                    </tr>
                    <tr>
                        <th>Patient id</th>
                        <td>{{ patient.id}}</td>
                    </tr>
                    <tr>
                        <th>Patient Name</th>
                        <td>{{ patient.Name}}</td>
                    </tr>
                    <tr>
                        <th>Medical_file_name</th>
                        <td>{{ medical_file.medicalFileName }}</td>
                    </tr>
                    <tr>
                        <th>UploadAt</th>
                        <td>{{ medical_file.uploadAt ? medical_file.uploadAt|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>{{ medical_file.weight }}</td>
                    </tr>
                    <tr>
                        <th>Size</th>
                        <td>{{ medical_file.size }}</td>
                    </tr>
                    <tr>
                        <th>IsSmoking</th>
                        <td>{{ medical_file.IsSmoking ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>IsAlcohloic</th>
                        <td>{{ medical_file.IsAlcohloic ? 'Yes' : 'No' }}</td>
                    </tr>

                    <tr>
                        <th>Health_info</th>
                        <td>{{ medical_file.healthInfo }}</td>
                    </tr>
                    <tr>
                        <th>Previous_operations</th>
                        {% for oper in medical_file.PrevOper %}

                            <td>{{ oper.MedicalOperationType }}</td>
                            <td>{{ oper.OperationDate|date("m/d/Y") }}</td>

                        {% endfor %}

                    </tr>
                    <tr>
                        <th>Diseases (Treatments)</th>
                        {% for oper in medical_file.CurrentDisease %}

                            <td>{{ oper.DiseaseName }}</td>
                            <td>{{ oper.DiseaseDate|date("m/d/Y") }}</td>

                        {% endfor %}

                    </tr>
                    <tr>
                        <th>Medications</th>
                        {% for oper in medical_file.treatments %}

                            <td>{{ oper.TreatmentName }}</td>

                        {% endfor %}

                    </tr>
                    </tbody>
                </table>


                <a href="{{ path('pending_reports') }}">back to list</a>


            </div>
        </div>
    </div>
{% endblock %}

