<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- Site Metas -->
{% block title %}
    <title>Request</title>
{% endblock %}
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

{% block stylesheet %}
    <!-- Site Icons -->
    <link rel="apple-touch-icon" href="{{ asset('homepage/images/mages/apple-touch-icon.png') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('homepage/css/bootstrap.min.css') }}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ asset('homepage/style.css') }}">
    <!-- Colors CSS -->
    <link rel="stylesheet" href="{{ asset('homepage/css/colors.css') }}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet"  href="{{ asset('homepage/css/versions.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet"  href="{{ asset('homepage/css/responsive.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet"  href="{{ asset('homepage/css/custom.css') }}">
    !--===============================================================================================-->
    <link rel="icon" type="image/png"  href="{{ asset('homepage/images/icons/favicon.ico') }}" >
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  href="{{ asset('homepage/vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('homepage/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"   href="{{ asset('homepage/vendor/animate/animate.css') }}">
    <!--========================================================================================= ======-->
    <link rel="stylesheet" type="text/css" href="{{ asset('homepage/vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"  href="{{ asset('homepage/cvendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('homepage/css/util.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ asset('homepage/css/main.css') }}">
    <!--========================================================
    <-- Modernizer for Portfolio -->

    <script src="js/modernizer.js"></script>
    <!-- [if lt IE 9] -->
{% endblock %}
<header>

    <div class="header-top wow fadeIn">
        <div class="container">
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('medicalcenter/assets/img/logo/logo.png') }}" alt="image"></a>
            <div class="right-header">
                <div class="header-info">
                    <div class="info-inner">
                        <span class="icontop"><img src="{{ asset('homepage/images/phone-icon.png') }}" alt="#"></span>
                        <span class="iconcont"><a href="tel:800 123 456">+216 53 468 100</a></span>
                    </div>
                    <div class="info-inner">
                        <span class="icontop"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                        <span class="iconcont"><a data-scroll href="mailto:info@yoursite.com">medicalagency007@gmail.com</a></span>
                    </div>
                    <div class="info-inner">
                        <span class="icontop"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                        <span class="iconcont"><a data-scroll href="#">Daily: 24h/24h</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>

{% block request %}
{% endblock %}



<footer id="footer" class="footer-area wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo padding">
                    <a href="{{ path('homepage') }}"><img src="{{ asset('medicalcenter/assets/img/logo/logo.png') }}" alt=""></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-info padding">
                    <h3>CONTACT US</h3>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Sousse, Tunisia</p>
                    <p><i class="fa fa-paper-plane" aria-hidden="true"></i> medicalagency007@gmail.com</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +216 53 468 100</p>
                </div>
            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright-area wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="footer-text">
                    <p>                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <a href="https://www.ups.ens.tn" >Private Univerity Of Sousse</a>
</p>
                </div>
            </div>

            </div>
        </div>

    </div>
</div>
<!-- end copyrights -->
<a href="#home" data-scroll class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
{% block js %}

    <script src="{{ asset('homepage/js/all.js') }}"></script>
    <!-- all plugins -->
    <script src="{{ asset('homepage/js/custom.js') }}"></script>
    <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNUPWkb4Cjd7Wxo-T4uoUldFjoiUA1fJc&callback=myMap"></script>
    <!--===============================================================================================-->
    <script src="{{ asset('homepage/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
    <!--===============================================================================================-->
    <script  src="{{ asset('homepage/vendor/bootstrap/js/popper.js') }}"></script>
    <script  src="{{ asset('homepage/vendor/bootstrap/js/bootstrap.min.js') }}" ></script>
    <!--===============================================================================================-->
    <script src="{{ asset('homepage/vendor/select2/select2.min.js') }}" ></script>
    <!--===============================================================================================-->
    <script src="{{ asset('homepage/vendor/tilt/tilt.jquery.min.js') }}"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="{{ asset('homepage/js/main.js') }}"></script>

    <!--===============================================================================================-->
{% endblock %}
